<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linecorp.linesdk">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <!--
         "launchMode" of this activity must not be singleInstance and singleTask because, this is
         launched with using startActivityForResult().
         This activity must be stacked on same Activity Stack of the caller.
         -->
        <activity
            android:name="com.linecorp.linesdk.auth.internal.LineAuthenticationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/LineSdk_AuthenticationActivity" />
        <activity
            android:name="com.linecorp.linesdk.auth.internal.LineAuthenticationCallbackActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="lineauth" />
            </intent-filter>
        </activity>
    </application>

</manifest>
